@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/* ---------------------
       bodystyles 
   ----------------------*/
body {
    font-family: 'Lora', serif;
    padding-top: 30px;
    margin: 0;
    background-color: #bbf1bdc2;
}

/* -----------------------------
        top-section styles
   ----------------------------- */
.top-section {
    margin: 30px 120px 80px 120px;
    height: 550px;
    border-radius: 20px;
    background-image: linear-gradient(to left, #7c76762b, #242020d1), url("./top-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* -----------------------------------
         website details
   ----------------------------------- */
h1 {
    color: white;
    width: 400px;
    padding-top: 130px;
    padding-left: 40px;
    font-size: 45px;
}

.website-details {
    color: white;
    padding-left: 20px;
    width: 350px;
    font-size: 15px;
}

/* ----------------------------
         live button 
   ---------------------------- */
.live-button {
    margin-left: 40px;
    padding: 14px;
    font-weight: 700;
    color: rgb(39, 3, 73);
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to left, #cd84f1, #7efff5, #fd7272d2);
    cursor: pointer;
    background-size: 200%;
    transition: .5s ease;
}

.live-button:hover {
    background-position: right;
}

/* ----------------------------------
          middle section
   ----------------------------------  */
.middle-section {
    display: flex;
}

/* ----------------------------------
          option bar
   ---------------------------------- */
.option-bar {
    width: 257px;
    height: 285px;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 10px;
    background-color: black;

}

.option-bar a {
    text-decoration: none;
}

.option {
    width: 190px;
    text-align: center;
    padding: 16px 0;
    border-radius: 5px;
    color: black;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
}

#red-box {
    background-color: red;
    color: white;
}

/* --------------------------
          blogs
   --------------------------   */
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 30px;
}

.blog {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 254px;
    border: 1px solid gray;
    border-radius: 10px;
}

.blog img {
    width: 254px;
    height: 153px;
    border-radius: 8px 8px 0px 0px;
}

.blog-button {
    width: 100px;
    margin-top: 15px;
    margin-left: 15px;
    padding: 4px;
    border: 1px solid black;
    background-color: rgba(190, 183, 183, 0.664);
}

.blog>h2 {
    width: 215px;
    margin-left: 10px;
}

.fa-clock {
    width: 70px;
    margin-left: 10px;
}

.fa-comment-dots {
    margin-left: 20px;
}

/* ----------------------------------------------------------------------------------------
         styles for upcoming-matches.html
   ---------------------------------------------------------------------------------------- */
.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding-left: 30px;
}

.match-details {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 254px;
    border: 1px solid gray;
    border-radius: 10px;
}

.match-details h4,
p {
    margin-left: 20px;

}

.flags {
    display: flex;
    align-items: center;
}

/* ------------- special button ------------ */
.special-button {
    display: flex;
    justify-content: center;
    margin-top: 55px;
}

.view-button {
    width: 100px;
    margin-left: 40px;
    padding: 15px;
    font-weight: 700;
    color: rgb(245, 240, 250);
    border: none;
    border-radius: 5px;
    background-color: red;
    cursor: pointer;
    visibility: hidden;
}

/* -----------------------------
            footer
   -----------------------------  */
footer {
    background-color: black;
    margin-top: 90px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
    font-size: 34px;
    text-align: center;
}

hr {
    width: 80vw;
    height: 1px;
    background-color: #363636b0;
    border: none;
}

footer span {
    color: white;
    margin-left: 50px;
}

.social-links {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.social-links a {
    color: white;
    margin-left: 70px;
    margin-right: 42px;
}

.fa-brands {
    color: white;
}

/* ------------------------------------------
               Media Queries
   ------------------------------------------ */


/* ------------for tablet ----------- */
@media screen and (min-width:481px) and (max-width:768px) {
    .top-section {
        margin: 30px 50px 55px 40px;
        height: 500px;
    }

    .website-details {
        padding-left: 20px;
    }

    .middle-section {
        flex-direction: column;
        padding-left: 19px;
    }

    .option-bar {
        width: 90vw;
        flex-direction: row;
        height: 100px;
        margin-bottom: 40px;
        background-color: #bbf1bdc2;
        border: none;
        margin-left: 20px;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    #hidden-blog {
        display: none;
    }

    .view-button {
        visibility: visible;
        margin-right: 35px;
    }
}

/* ------------------- for mobile ----------------------- */
@media screen and (min-width:320px) and (max-width:480px) {
    .top-section {
        margin: 0px 0px 60px 23px;
        height: 613px;
        background-position: top;
    }

    h1 {
        padding-top: 90px;
        padding-left: 28px;
        font-size: 35px;
    }

    .website-details {
        padding-left: 9px;
        font-size: 12px;
    }

    .middle-section {
        flex-direction: column;
    }

    .animation-box {
        margin-left: 95px;
        margin-top: 22px;
    }

    .option-bar {
        width: 90vw;
        height: 190px;
        margin-bottom: 30px;
        background-color: #bbf1bdc2;
        border: none;
        margin-left: 20px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding-left: 97px;
    }

    #hidden-blog {
        display: none;
    }

    footer {
        height: 400px;
        padding-right: 93px;
        width: 84vw;
    }

    .footer-header {
        padding-left: 65px;
    }

    .footer-info>p {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .social-links {
        padding-left: 60px;
    }
}